# Môi trường
.env
.env.local
.env.development
.env.test
.env.production

# Uploads
uploads/*
!uploads/.gitkeep

# Dependencies
node_modules
package-lock.json
yarn.lock

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist
build

# IDE
.vscode
.idea
*.swp
*.swo
.DS_Store

# Các file và thư mục khác để bỏ qua
node_modules/
dist/
build/
.DS_Store
*.log
*.lock
.idea/
.vscode/
coverage/